.foods {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 1rem;
    padding: 0 1rem;
    gap: 1rem;
}

.foods-container {

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.food-details {
    background-color: #aff5f1;
}